.header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background-image: url('workshop2.png'); /* اضافه کردن تصویر به عنوان پس‌زمینه */
    background-size: cover; /* برای پوشش کامل هدر */
    background-position: center; /* مرکز قرار دادن تصویر */
    color: white; /* white text color */
  }
  
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 60px;
  }
  .navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
  }

  
  /* Right-aligned link */
  .navbar a.right {
    float: right; /* Float a link to the right */
  }
  
  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
  }
/* Ensure proper sizing */
* {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .about-section {
    margin-right: 50px;
    margin-top: 10px;  
}
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 100%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 50px; /* Some padding */
    font-size: 20px;
  }
  
  /* Main column */
  .main {
    flex: 0%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
  }
  .footer {
    background-color: #411468;
    color: white;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-info, .footer-links, .footer-contact, .footer-social {
    width: 25%;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
.special-link{
  color: #ddd;
}